[project]
	description = lumberjack is a rolling logger for Go
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Nate Finch (natefinch)
[access "refs/for/refs/*"]
	read = group user/Nate Finch (natefinch)
	push = group user/Nate Finch (natefinch)
	label-Code-Review = -2..+2 group user/Nate Finch (natefinch)
	label-Verified = -1..+1 group user/Nate Finch (natefinch)
	rebase = group user/Nate Finch (natefinch)
	removeReviewer = group user/Nate Finch (natefinch)
	submit = group user/Nate Finch (natefinch)
[access "refs/heads/*"]
	read = group user/Nate Finch (natefinch)
	create = group user/Nate Finch (natefinch)
	push = +force group user/Nate Finch (natefinch)
	pushMerge = group user/Nate Finch (natefinch)
[access "refs/tags/*"]
	push = +force group user/Nate Finch (natefinch)
	pushTag = group user/Nate Finch (natefinch)
	pushSignedTag = group user/Nate Finch (natefinch)
